acres
altair
annotated-types
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
ci-info
click
cloudpathlib
confection
configobj
configparser
contourpy
cycler
cymem
filelock
fitz
fonttools
fsspec
gitdb
GitPython
httplib2
huggingface-hub
idna
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
looseversion
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
murmurhash
narwhals
networkx
nibabel
nipype
nltk
numpy
packaging
pandas
pathlib
pillow
preshed
protobuf
prov
puremagic
pyarrow
pydantic
pydantic_core
pydeck
pydot
Pygments
PyMuPDF
pyparsing
PyPDF2
python-dateutil
pytz
pyxnat
PyYAML
rdflib
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
simplejson
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
sympy
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
traits
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
wordcloud
wrapt